


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";





SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."application_tasks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "opportunity_id" "uuid",
    "task_type" "text",
    "task_title" "text",
    "due_date" "date",
    "completed" boolean DEFAULT false,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."application_tasks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."digests" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "day" "date" NOT NULL,
    "summary_md" "text",
    "stats" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."digests" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."opportunities" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "hash" "text" NOT NULL,
    "title" "text",
    "university_id" "uuid",
    "professor_id" "uuid",
    "country" "text",
    "field" "text",
    "source" "text",
    "source_id" "uuid",
    "source_url" "text",
    "official_url" "text",
    "posted_on" "date",
    "deadline" "date",
    "rolling_admission" boolean DEFAULT false,
    "funding_text" "text",
    "stipend_amount" "text",
    "tuition_covered" boolean,
    "funding_class" "text",
    "eligibility" "text",
    "english_req" "text",
    "dependents_note" "text",
    "fit_score" integer,
    "fit_breakdown" "jsonb",
    "fit_reason" "text",
    "verification" "text" DEFAULT 'UNVERIFIED'::"text",
    "status" "text" DEFAULT 'NEW'::"text",
    "notes" "text",
    "first_seen" timestamp with time zone DEFAULT "now"(),
    "last_seen" timestamp with time zone DEFAULT "now"(),
    "last_changed" timestamp with time zone,
    CONSTRAINT "check_opportunity_status" CHECK (("status" = ANY (ARRAY['NEW'::"text", 'SAVED'::"text", 'VERIFY'::"text", 'CONTACTED'::"text", 'RESPONSE_RECEIVED'::"text", 'APPLICATION_PREPARING'::"text", 'APPLIED'::"text", 'INTERVIEW'::"text", 'OFFER'::"text", 'REJECTED'::"text", 'IGNORED'::"text"]))),
    CONSTRAINT "check_opportunity_verification" CHECK (("verification" = ANY (ARRAY['UNVERIFIED'::"text", 'NEEDS_VERIFICATION'::"text", 'VERIFIED_OFFICIAL'::"text", 'EXPIRED'::"text", 'CLOSED'::"text"])))
);


ALTER TABLE "public"."opportunities" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."outreach_drafts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "professor_id" "uuid",
    "subject" "text",
    "body" "text",
    "status" "text" DEFAULT 'DRAFT'::"text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."outreach_drafts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."professors" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "university_id" "uuid",
    "openalex_author_id" "text",
    "homepage" "text",
    "email_public" "text",
    "h_index" integer,
    "works_count" integer,
    "cited_by_count" integer,
    "recent_topics" "text"[],
    "recent_papers" "jsonb",
    "intl_student_signal" "text",
    "recruiting_signal" "text" DEFAULT 'none'::"text",
    "fit_score" integer,
    "fit_breakdown" "jsonb",
    "fit_reason" "text",
    "priority" "text",
    "monitoring_enabled" boolean DEFAULT false,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "department" "text",
    "is_favourite" boolean DEFAULT false
);


ALTER TABLE "public"."professors" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."research_groups" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "university_id" "uuid",
    "website" "text",
    "is_favourite" boolean DEFAULT false,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."research_groups" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."research_leads" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "professor_id" "uuid",
    "university_id" "uuid",
    "lead_type" "text",
    "title" "text",
    "description" "text",
    "evidence" "jsonb",
    "fit_score" integer,
    "fit_breakdown" "jsonb",
    "status" "text" DEFAULT 'NEW'::"text",
    "monitoring_enabled" boolean DEFAULT false,
    "last_checked_at" timestamp with time zone,
    "last_signal_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."research_leads" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."research_signals" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "professor_id" "uuid",
    "university_id" "uuid",
    "source_id" "uuid",
    "signal_type" "text",
    "title" "text",
    "summary" "text",
    "source_url" "text",
    "signal_date" "date",
    "relevance_score" integer,
    "processed" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."research_signals" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."run_log" (
    "id" integer NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "job" "text",
    "ok" boolean,
    "detail" "text",
    "items_found" integer DEFAULT 0,
    "items_new" integer DEFAULT 0,
    "items_changed" integer DEFAULT 0,
    "ran_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."run_log" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."run_log_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."run_log_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."run_log_id_seq" OWNED BY "public"."run_log"."id";



CREATE TABLE IF NOT EXISTS "public"."settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "countries" "text"[] DEFAULT '{}'::"text"[],
    "subjects" "text"[] DEFAULT '{}'::"text"[],
    "keywords" "text"[] DEFAULT '{}'::"text"[],
    "exclude_keywords" "text"[] DEFAULT '{}'::"text"[],
    "min_score" integer DEFAULT 60,
    "profile_summary" "text",
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "academic_background" "jsonb" DEFAULT '{}'::"jsonb",
    "research_background" "jsonb" DEFAULT '{}'::"jsonb",
    "technical_skills" "jsonb" DEFAULT '{}'::"jsonb",
    "preferences" "jsonb" DEFAULT '{}'::"jsonb"
);


ALTER TABLE "public"."settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."source_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "source_id" "uuid",
    "external_url" "text",
    "title" "text",
    "retrieved_at" timestamp with time zone DEFAULT "now"(),
    "published_at" timestamp with time zone,
    "content_hash" "text",
    "raw_text" "text",
    "content_type" "text",
    "extraction_status" "text"
);


ALTER TABLE "public"."source_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."sources" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "source_type" "text" NOT NULL,
    "base_url" "text",
    "enabled" boolean DEFAULT true,
    "access_method" "text",
    "compliance_status" "text",
    "last_run_at" timestamp with time zone,
    "last_run_ok" boolean,
    "items_found_30d" integer DEFAULT 0,
    "items_shortlisted_30d" integer DEFAULT 0,
    "items_verified_30d" integer DEFAULT 0,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."sources" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."universities" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "country" "text",
    "city" "text",
    "openalex_id" "text",
    "website" "text",
    "grad_admissions_url" "text",
    "funding_model" "text",
    "stipend_note" "text",
    "gpa_note" "text",
    "family_note" "text",
    "muslim_env_note" "text",
    "verified" boolean DEFAULT false,
    "verified_on" "date",
    "source_url" "text",
    "works_count" integer,
    "cited_by_count" integer,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "is_favourite" boolean DEFAULT false
);


ALTER TABLE "public"."universities" OWNER TO "postgres";


ALTER TABLE ONLY "public"."run_log" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."run_log_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."application_tasks"
    ADD CONSTRAINT "application_tasks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."digests"
    ADD CONSTRAINT "digests_owner_id_day_key" UNIQUE ("owner_id", "day");



ALTER TABLE ONLY "public"."digests"
    ADD CONSTRAINT "digests_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_owner_id_hash_key" UNIQUE ("owner_id", "hash");



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."outreach_drafts"
    ADD CONSTRAINT "outreach_drafts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."professors"
    ADD CONSTRAINT "professors_owner_id_openalex_author_id_key" UNIQUE ("owner_id", "openalex_author_id");



ALTER TABLE ONLY "public"."professors"
    ADD CONSTRAINT "professors_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."research_groups"
    ADD CONSTRAINT "research_groups_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."research_leads"
    ADD CONSTRAINT "research_leads_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."research_signals"
    ADD CONSTRAINT "research_signals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."run_log"
    ADD CONSTRAINT "run_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."settings"
    ADD CONSTRAINT "settings_owner_id_key" UNIQUE ("owner_id");



ALTER TABLE ONLY "public"."settings"
    ADD CONSTRAINT "settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."source_documents"
    ADD CONSTRAINT "source_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sources"
    ADD CONSTRAINT "sources_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."universities"
    ADD CONSTRAINT "universities_owner_id_name_key" UNIQUE ("owner_id", "name");



ALTER TABLE ONLY "public"."universities"
    ADD CONSTRAINT "universities_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_opportunities_hash" ON "public"."opportunities" USING "btree" ("hash");



CREATE INDEX "idx_opportunities_status" ON "public"."opportunities" USING "btree" ("status");



CREATE INDEX "idx_professors_uni" ON "public"."professors" USING "btree" ("university_id");



CREATE INDEX "idx_research_leads_prof" ON "public"."research_leads" USING "btree" ("professor_id");



ALTER TABLE ONLY "public"."application_tasks"
    ADD CONSTRAINT "application_tasks_opportunity_id_fkey" FOREIGN KEY ("opportunity_id") REFERENCES "public"."opportunities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."application_tasks"
    ADD CONSTRAINT "application_tasks_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."digests"
    ADD CONSTRAINT "digests_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_professor_id_fkey" FOREIGN KEY ("professor_id") REFERENCES "public"."professors"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "public"."sources"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."opportunities"
    ADD CONSTRAINT "opportunities_university_id_fkey" FOREIGN KEY ("university_id") REFERENCES "public"."universities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."outreach_drafts"
    ADD CONSTRAINT "outreach_drafts_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."outreach_drafts"
    ADD CONSTRAINT "outreach_drafts_professor_id_fkey" FOREIGN KEY ("professor_id") REFERENCES "public"."professors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professors"
    ADD CONSTRAINT "professors_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."professors"
    ADD CONSTRAINT "professors_university_id_fkey" FOREIGN KEY ("university_id") REFERENCES "public"."universities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."research_groups"
    ADD CONSTRAINT "research_groups_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."research_groups"
    ADD CONSTRAINT "research_groups_university_id_fkey" FOREIGN KEY ("university_id") REFERENCES "public"."universities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."research_leads"
    ADD CONSTRAINT "research_leads_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."research_leads"
    ADD CONSTRAINT "research_leads_professor_id_fkey" FOREIGN KEY ("professor_id") REFERENCES "public"."professors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."research_leads"
    ADD CONSTRAINT "research_leads_university_id_fkey" FOREIGN KEY ("university_id") REFERENCES "public"."universities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."research_signals"
    ADD CONSTRAINT "research_signals_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."research_signals"
    ADD CONSTRAINT "research_signals_professor_id_fkey" FOREIGN KEY ("professor_id") REFERENCES "public"."professors"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."research_signals"
    ADD CONSTRAINT "research_signals_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "public"."sources"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."research_signals"
    ADD CONSTRAINT "research_signals_university_id_fkey" FOREIGN KEY ("university_id") REFERENCES "public"."universities"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."run_log"
    ADD CONSTRAINT "run_log_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."settings"
    ADD CONSTRAINT "settings_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."source_documents"
    ADD CONSTRAINT "source_documents_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."source_documents"
    ADD CONSTRAINT "source_documents_source_id_fkey" FOREIGN KEY ("source_id") REFERENCES "public"."sources"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."sources"
    ADD CONSTRAINT "sources_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."universities"
    ADD CONSTRAINT "universities_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id");



CREATE POLICY "Delete own application_tasks" ON "public"."application_tasks" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own digests" ON "public"."digests" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own opportunities" ON "public"."opportunities" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own outreach_drafts" ON "public"."outreach_drafts" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own professors" ON "public"."professors" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own research_groups" ON "public"."research_groups" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own research_leads" ON "public"."research_leads" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own research_signals" ON "public"."research_signals" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own run_log" ON "public"."run_log" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own settings" ON "public"."settings" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own source_documents" ON "public"."source_documents" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own sources" ON "public"."sources" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Delete own universities" ON "public"."universities" FOR DELETE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own application_tasks" ON "public"."application_tasks" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own digests" ON "public"."digests" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own opportunities" ON "public"."opportunities" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own outreach_drafts" ON "public"."outreach_drafts" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own professors" ON "public"."professors" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own research_groups" ON "public"."research_groups" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own research_leads" ON "public"."research_leads" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own research_signals" ON "public"."research_signals" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own run_log" ON "public"."run_log" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own settings" ON "public"."settings" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own source_documents" ON "public"."source_documents" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own sources" ON "public"."sources" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Insert own universities" ON "public"."universities" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own application_tasks" ON "public"."application_tasks" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own digests" ON "public"."digests" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own opportunities" ON "public"."opportunities" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own outreach_drafts" ON "public"."outreach_drafts" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own professors" ON "public"."professors" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own research_groups" ON "public"."research_groups" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own research_leads" ON "public"."research_leads" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own research_signals" ON "public"."research_signals" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own run_log" ON "public"."run_log" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own settings" ON "public"."settings" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own source_documents" ON "public"."source_documents" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own sources" ON "public"."sources" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Update own universities" ON "public"."universities" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own application_tasks" ON "public"."application_tasks" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own digests" ON "public"."digests" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own opportunities" ON "public"."opportunities" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own outreach_drafts" ON "public"."outreach_drafts" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own professors" ON "public"."professors" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own research_groups" ON "public"."research_groups" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own research_leads" ON "public"."research_leads" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own research_signals" ON "public"."research_signals" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own run_log" ON "public"."run_log" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own settings" ON "public"."settings" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own source_documents" ON "public"."source_documents" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own sources" ON "public"."sources" FOR SELECT USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "View own universities" ON "public"."universities" FOR SELECT USING (("auth"."uid"() = "owner_id"));



ALTER TABLE "public"."application_tasks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."digests" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."opportunities" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."outreach_drafts" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."professors" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."research_groups" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."research_leads" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."research_signals" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."run_log" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."source_documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sources" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."universities" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";





































































































































































GRANT ALL ON TABLE "public"."application_tasks" TO "anon";
GRANT ALL ON TABLE "public"."application_tasks" TO "authenticated";
GRANT ALL ON TABLE "public"."application_tasks" TO "service_role";



GRANT ALL ON TABLE "public"."digests" TO "anon";
GRANT ALL ON TABLE "public"."digests" TO "authenticated";
GRANT ALL ON TABLE "public"."digests" TO "service_role";



GRANT ALL ON TABLE "public"."opportunities" TO "anon";
GRANT ALL ON TABLE "public"."opportunities" TO "authenticated";
GRANT ALL ON TABLE "public"."opportunities" TO "service_role";



GRANT ALL ON TABLE "public"."outreach_drafts" TO "anon";
GRANT ALL ON TABLE "public"."outreach_drafts" TO "authenticated";
GRANT ALL ON TABLE "public"."outreach_drafts" TO "service_role";



GRANT ALL ON TABLE "public"."professors" TO "anon";
GRANT ALL ON TABLE "public"."professors" TO "authenticated";
GRANT ALL ON TABLE "public"."professors" TO "service_role";



GRANT ALL ON TABLE "public"."research_groups" TO "anon";
GRANT ALL ON TABLE "public"."research_groups" TO "authenticated";
GRANT ALL ON TABLE "public"."research_groups" TO "service_role";



GRANT ALL ON TABLE "public"."research_leads" TO "anon";
GRANT ALL ON TABLE "public"."research_leads" TO "authenticated";
GRANT ALL ON TABLE "public"."research_leads" TO "service_role";



GRANT ALL ON TABLE "public"."research_signals" TO "anon";
GRANT ALL ON TABLE "public"."research_signals" TO "authenticated";
GRANT ALL ON TABLE "public"."research_signals" TO "service_role";



GRANT ALL ON TABLE "public"."run_log" TO "anon";
GRANT ALL ON TABLE "public"."run_log" TO "authenticated";
GRANT ALL ON TABLE "public"."run_log" TO "service_role";



GRANT ALL ON SEQUENCE "public"."run_log_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."run_log_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."run_log_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."settings" TO "anon";
GRANT ALL ON TABLE "public"."settings" TO "authenticated";
GRANT ALL ON TABLE "public"."settings" TO "service_role";



GRANT ALL ON TABLE "public"."source_documents" TO "anon";
GRANT ALL ON TABLE "public"."source_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."source_documents" TO "service_role";



GRANT ALL ON TABLE "public"."sources" TO "anon";
GRANT ALL ON TABLE "public"."sources" TO "authenticated";
GRANT ALL ON TABLE "public"."sources" TO "service_role";



GRANT ALL ON TABLE "public"."universities" TO "anon";
GRANT ALL ON TABLE "public"."universities" TO "authenticated";
GRANT ALL ON TABLE "public"."universities" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































